    .page {
      padding: 16px 16px 96px 16px;
    }
    
    .section-container {
      padding: 16px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 24px;

    }    
    
    .test-container {
      /* padding: 16px; */
      background: linear-gradient(45deg, #f1645f 0%, #f49ae2 100%);
      border-radius: 8px;
    }    

    .btn {
      margin-left: 8px;




    }

    .text {
      color: #f1645f;
    }
    